@import '../../../styles/theme.css';

.Loader {
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .3;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--z-loader);
}

.Loader__spinner {
  height: auto;
  max-width: 100%;
  animation: loader-spin infinite 5s linear;
}

@keyframes loader-spin {
  from  { transform: rotate(0deg); }
  to    { transform: rotate(360deg); }
}
