@import '../../../styles/theme.css';

.Incident {
  background-color: var(--color-white);
  border-top: 1px solid var(--color-grey);
  padding: var(--space-l) 0;
  outline: none;

  &.isSelected {
    @apply --box-shadow;
    padding-left: var(--space-m);
    padding-right: var(--space-m);
    margin: var(--space-l) -var(--space-m);
  }
}

.Incident__header {
  position: relative;
  padding-left: var(--space-l);
}

.Incident__headingLine {
  @apply --font-default;
  font-size: 1rem;
  line-height: 1.2rem;
  margin: 4px 0 0 -var(--space-l);
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

.Incident__headingLineIcon {
  flex: 0 0 var(--space-l);
}

.Incident__details {
  @apply --font-default;
  display: none;
  flex-flow: row wrap;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 0;
  padding-left: var(--space-l);
  align-items: baseline;

  @nest .isSelected & {
    display: flex;
  }
}

.Incident__detailsKey {
  margin-top: var(--space-s);
  width: 33%;
}

.Incident__detailsValue {
  margin-left: auto;
  width: 66%;
}
