@import '../../styles/media.css';
@import '../../styles/theme.css';

.SidePanel {
  height: 100%;
  background-color: var(--color-white);
  box-sizing: border-box;
  padding: var(--space-l);
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: var(--z-panel);
  transform: translateX(-100%);
  transition: all .3s ease-in-out;

  &.isActivated {
    @apply --box-shadow;
    transform: translateX(0);
  }

  @media(--medium-up) {
    width: 480px;
  }
}
