/**
 * Definition of the custom media queries
 */

@custom-media --small-up (min-width: 576px);
@custom-media --medium-up (min-width: 768px);
@custom-media --large-up (min-width: 992px);
@custom-media --xlarge-up (min-width: 1200px);
