/**
 * All available theme properties
 */

:root {
  /**
   * Fonts:
   * - All fonts variables and properties sets should have a 'font' prefix
   * - Example:
   * .Element {
   *   @apply --font-light;
   * }
   */
  --font-family-default: {
    font-family: 'Lato', sans-serif;
  };

  --font-default: {
    @apply --font-family-default;
    font-weight: 400;
  };

  --font-light: {
    @apply --font-family-default;
    font-weight: 300;
  };

  --font-bold: {
    @apply --font-family-default;
    font-weight: 900;
  }

  /**
   * Colors:
   * - All colors variables should have a 'color' prefix
   * - Example:
   * .Element {
   *   background-color: var(--color-white);
   * }
   */
  --color-white:      #fff;
  --color-black:      #000;
  --color-grey:       #f2f2f2;
  --color-dark-grey:  #767B91;

  /**
   * Spaces:
   * - All spacing variables should have a 'space' prefix
   * - Example:
   * .Example {
   *  padding: var(--space-s) var(--space-m);
   * }
   */
  --space-xs: 4px;
  --space-s:  8px;
  --space-m:  16px;
  --space-l:  32px;
  --space-xl: 64px;

  /**
   * Z-indexes:
   * - All z-indexes variables should have a 'z' prefix
   * - 800 - the highest z-index value used by any of the map controls
   * - Example:
   * .Header {
   *  z-index: var(--z-header);
   * }
   */
  --z-panel:  1001;
  --z-header: 1002;
  --z-loader: 1003;

  /**
   * Common variables and prop set that can't be categorized
   */
  --box-shadow: {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
}
