@import '../../styles/theme.css';

.Header {
  @apply --box-shadow;
  background-color: var(--color-white);
  padding: var(--space-m) var(--space-l);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  z-index: var(--z-header);
}

.Header__title {
  @apply --font-light;
  margin: 0;
}

.Header__button {
  font-size: 2rem;
  line-height: 0;
  margin-right: var(--space-s);
}
