@import '../styles/theme.css';

.App {
  background-color: var(--color-grey);
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.App__content {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}
