@import '../../styles/theme.css';

/* reset some default leaflet styles */
.leaflet-div-icon {
  background: none;
  border: none;
}

:root {
  --icon-size: 32px;
  --icon-shadow-size: 8px;
  --icon-pin-rotation: rotate(-45deg);
  --icon-shadow-rotation: rotateX(55deg);
}

.Map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.MarkerIcon {
  position: relative;
  width: 100%;
  height: 100%;

  & .MarkerIcon__pin {
    @apply --box-shadow;
    position: absolute;
    top: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 50% 50% 50% 0;
    background: var(--color-white);
    transform: var(--icon-pin-rotation);

    &::after {
      content: '';
      width: 50%;
      height: 50%;
      border-radius: 50%;
      background: var(--color-dark-grey);
    }
  }

  & .MarkerIcon__shadow {
    @apply --box-shadow;
    background: var(--color-dark-grey);
    border-radius: 50%;
    width: var(--icon-shadow-size);
    height: var(--icon-shadow-size);
    position: absolute;
    bottom: calc(var(--icon-shadow-size) / -2);
    left: calc(50% - var(--icon-shadow-size) / 2);
    transform: var(--icon-shadow-rotation);
  }

  &.isActive {
    & .MarkerIcon__pin { animation: pin-animation 1s infinite ease-in-out; }
    & .MarkerIcon__shadow { animation: shadow-animation 1s infinite ease-in-out; }
  }
}

@keyframes pin-animation {
  from, 20%, 53%, 80%, to { transform: translateY(0) var(--icon-pin-rotation); }
  40%, 43%                { transform: translateY(-16px) var(--icon-pin-rotation); }
  70%                     { transform: translateY(-8px) var(--icon-pin-rotation); }
  90%                     { transform: translateY(-2px) var(--icon-pin-rotation); }
}

@keyframes shadow-animation {
  from, 20%, 53%, 80%, to { transform: scale(1) var(--icon-shadow-rotation); }
  40%, 43%                { transform: scale(.4) var(--icon-shadow-rotation); }
  70%                     { transform: scale(.8) var(--icon-shadow-rotation); }
  90%                     { transform: scale(.9) var(--icon-shadow-rotation); }
}
